
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 78.426rem;
}.email-Pf3 {
  width: 100%;
  height: 36.379rem;
}
.email-Pf3 .group-39630-SdK {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.email-Pf3 .group-39630-SdK .k-shankar-Kad {
  margin: 0rem 0rem 0.535rem 1.702rem;
  font-size: 2.796rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #007738;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.email-Pf3 .group-39630-SdK .group-kvq {
  margin: 0rem 0rem 1.762rem 1.956rem;
  width: 20.4rem;
  height: 2.94rem;
  position: relative;
  flex-shrink: 0;
}
.email-Pf3 .group-39630-SdK .group-kvq .sales-marketing-manager-gcc-3uw {
  width: 20.4rem;
  height: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #007738;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.email-Pf3 .group-39630-SdK .group-kvq .thermal-transport-refrigeration-HJV {
  width: 19.6rem;
  height: 1.5rem;
  position: absolute;
  left: 0;
  top: 1.44rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #007738;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.email-Pf3 .group-39630-SdK .vector-sGh {
  margin-bottom: 0.792rem;
  width: 76.696rem;
  height: 0.157rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.email-Pf3 .group-39630-SdK .auto-group-mhak-MSm {
  margin: 0rem 4.462rem 2.97rem 1.944rem;
  width: calc(100% - 6.4059rem);
  height: 9.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.email-Pf3 .group-39630-SdK .auto-group-mhak-MSm .auto-group-tap6-qcq {
  box-sizing: border-box;
  padding: 0.846rem 16.141rem 0.971rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.email-Pf3 .group-39630-SdK .auto-group-mhak-MSm .auto-group-tap6-qcq .auto-group-rekc-MLH {
  margin: 0.143rem 1.285rem 0rem 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.email-Pf3 .group-39630-SdK .auto-group-mhak-MSm .auto-group-tap6-qcq .auto-group-rekc-MLH .auto-group-y9gx-gdT {
  margin: 0rem 0rem 4.392rem 0.013rem;
  width: 1.474rem;
  height: 1.474rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.email-Pf3 .group-39630-SdK .auto-group-mhak-MSm .auto-group-tap6-qcq .auto-group-rekc-MLH .auto-group-2wgc-bkR {
  margin-right: 0.0131rem;
  width: 1.474rem;
  height: 1.474rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.email-Pf3 .group-39630-SdK .auto-group-mhak-MSm .auto-group-tap6-qcq .auto-group-jreu-8VT {
  margin: 0rem 7.772rem 0.026rem 0rem;
  height: calc(100% - 0.026rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.email-Pf3 .group-39630-SdK .auto-group-mhak-MSm .auto-group-tap6-qcq .auto-group-jreu-8VT .group-TGq {
  margin: 0rem 0rem 3.017rem 0.175rem;
  width: 9.9rem;
  height: 2.94rem;
  position: relative;
  flex-shrink: 0;
}
.email-Pf3 .group-39630-SdK .auto-group-mhak-MSm .auto-group-tap6-qcq .auto-group-jreu-8VT .group-TGq .item-971-50-156-2040-sUy {
  width: 9.9rem;
  height: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #007738;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.email-Pf3 .group-39630-SdK .auto-group-mhak-MSm .auto-group-tap6-qcq .auto-group-jreu-8VT .group-TGq .item-971-48-850-496-ZMo {
  width: 9.6rem;
  height: 1.5rem;
  position: absolute;
  left: 0;
  top: 1.44rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #007738;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.email-Pf3 .group-39630-SdK .auto-group-mhak-MSm .auto-group-tap6-qcq .auto-group-jreu-8VT .shankarridameae-rbo {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #007738;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.email-Pf3 .group-39630-SdK .auto-group-mhak-MSm .auto-group-tap6-qcq .auto-group-dxbi-nVT {
  margin: 0.143rem 1.46rem 0rem 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.email-Pf3 .group-39630-SdK .auto-group-mhak-MSm .auto-group-tap6-qcq .auto-group-dxbi-nVT .auto-group-frxz-vLm {
  margin: 0rem 0.001rem 4.392rem 0rem;
  width: 1.474rem;
  height: 1.474rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.email-Pf3 .group-39630-SdK .auto-group-mhak-MSm .auto-group-tap6-qcq .auto-group-dxbi-nVT .auto-group-2ypq-1t1 {
  margin-left: 0.0012rem;
  width: 1.474rem;
  height: 1.474rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.email-Pf3 .group-39630-SdK .auto-group-mhak-MSm .auto-group-tap6-qcq .auto-group-lvxr-WJy {
  margin-bottom: 0.026rem;
  width: 14.8rem;
  height: calc(100% - 0.026rem);
  flex-shrink: 0;
}
.email-Pf3 .group-39630-SdK .auto-group-mhak-MSm .auto-group-tap6-qcq .auto-group-lvxr-WJy .group-r7w {
  margin-bottom: 1.577rem;
  width: 100%;
  height: 4.38rem;
  position: relative;
}
.email-Pf3 .group-39630-SdK .auto-group-mhak-MSm .auto-group-tap6-qcq .auto-group-lvxr-WJy .group-r7w .rida-middle-east-Chb {
  width: 11.8rem;
  height: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #007738;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.email-Pf3 .group-39630-SdK .auto-group-mhak-MSm .auto-group-tap6-qcq .auto-group-lvxr-WJy .group-r7w .dubai-investmentpark-1-WTP {
  width: 14.8rem;
  height: 1.5rem;
  position: absolute;
  left: 0;
  top: 1.44rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #007738;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.email-Pf3 .group-39630-SdK .auto-group-mhak-MSm .auto-group-tap6-qcq .auto-group-lvxr-WJy .group-r7w .dubai-uae-ay3 {
  width: 6.7rem;
  height: 1.5rem;
  position: absolute;
  left: 0;
  top: 2.88rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #007738;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.email-Pf3 .group-39630-SdK .auto-group-mhak-MSm .auto-group-tap6-qcq .auto-group-lvxr-WJy .wwwridameae-Je9 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #007738;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.email-Pf3 .group-39630-SdK .auto-group-mhak-MSm .rectangle-2KF {
  width: 15.5rem;
  height: 9.3rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle.png');
  flex-shrink: 0;
}
.email-Pf3 .group-39630-SdK .auto-group-p2y2-geh {
  margin-left: 0.4379rem;
  width: 77.9881rem;
  height: 14.423rem;
  position: relative;
  flex-shrink: 0;
}
.email-Pf3 .group-39630-SdK .auto-group-p2y2-geh .rectangle-oDX {
  width: 77.985rem;
  height: 14.4rem;
  position: relative;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-image: url('../assets/rectangle-3GH.png');
}
.email-Pf3 .group-39630-SdK .auto-group-p2y2-geh .vector-uXT {
  width: 39.4rem;
  height: 14.4rem;
  position: absolute;
  left: 38.5881rem;
  top: 0.023rem;
  object-fit: contain;
  vertical-align: top;
}
.email-Pf3 .group-39630-SdK .auto-group-p2y2-geh .uae-ksa-qatar-oman-kuwait-bahrain-3df {
  width: 19.5rem;
  height: 1.1rem;
  position: absolute;
  left: 43.8701rem;
  top: 11.195rem;
  font-size: 0.887rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.email-Pf3 .group-39630-SdK .auto-group-p2y2-geh .group-jFb {
  width: 30.3rem;
  height: 2.69rem;
  position: absolute;
  left: 43.966rem;
  top: 7.639rem;
}
.email-Pf3 .group-39630-SdK .auto-group-p2y2-geh .group-jFb .revolutionizing-the-transport-refrigeration-industry-fuw {
  width: 28.2rem;
  height: 1.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.075rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.email-Pf3 .group-39630-SdK .auto-group-p2y2-geh .group-jFb .our-journey-has-just-begun-with-manypromisesahead-yvd {
  width: 30.3rem;
  height: 1.4rem;
  position: absolute;
  left: 0;
  top: 1.29rem;
  font-size: 1.075rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.email-Pf3 .group-39630-SdK .auto-group-p2y2-geh .we-arrive-U6h {
  width: 12.4rem;
  height: 2.7rem;
  position: absolute;
  left: 43.966rem;
  top: 4.551rem;
  font-size: 2.143rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
